extends base

block content 
    div.watch
        div
            video(src="/" + video.fileUrl controls)
            p=video.description
            small=video.createdAt
        div
            small Upload by 
                a(href=`/users/${video.owner._id}`).colorText #{video.owner.name}
        if (String(video.owner._id) === loggedInUser._id) 
            a(href=`${video.id}/edit`).colorText Edit Video &rarr;
            br
            a(href=`${video.id}/delete`).colorText Delete Video &rarr;